.App {
  text-align: center;
  display:flex;
  width: 100%;
  height:100vh;
  flex-direction: column;
  flex-grow: 1;
}

.Header{
  display:flex;
  justify-content: center;
  height:10%;
} 

.Title{
  display: flex;
  align-items: center;
}

.AddField{
  display: flex;
  justify-content: center;
  height: 10%;
  width: 100%;
}


.AddTask  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*border: 3px dotted green;*/
  align-items: center;
  flex-direction: row;
  width: 40%;
}

.AddTask   input{
  padding: 20px;
  font-size: 16pt;
  display: flex;
  border: 2px solid black;
  align-items: center;
}
.AddTask   input[type=text]{
  display: flex;
  width: 70%;
}
.AddTask   input[type=button]:hover{
  color: white;
  background-color: black;
}

.AddTask   input[type=text]:focus{
  color: white;
  background-color: black;
  border: 3px solid grey;
}

.TaskWindow{
  display: flex;
  justify-content: center;
  height: 80%;
}


.TaskView{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.TaskTitle{
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.TaskList
{
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.TaskComponent
{
  display: flex;
 
  flex-direction: column;
  justify-content: flex-start;
}

.TaskComponentLine{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid black;
}

.TaskComponentCheck{
  display: flex;
  width: 10%;
  justify-content: center;
}
.TaskComponentCheck input{
 width: 40px;
 height:40px;
}

.TaskComponentDescription{
  display: flex;
  width:80%;
  justify-content: flex-start;
  font:14pt;
  align-items: center;
}

.TaskComponentDescription p{
  margin: 0;
}

.TaskComponentButton
{
  display: flex;
  flex-direction: row;
}
.HideTask{
  display:flex;
  align-items: flex-end;
  border: 1px solid black;
} 
